<!DOCTYPE html>
<html>
<head>
 <title>test</title>
</head>
<body>
<form action="filesave" method="POST" enctype="multipart/form-data">
 <input type="file" name="myimage" ></input>
 <input type="text" name="courseCode" ></input>
 <input type="text" name="courseName" ></input>
 <input type="number" name="year" ></input>
 <input type="number" name="semester" ></input>
 <input type="text" name="department" ></input>
 <input type="submit" name="submit" value="submit"></input>
</form>
<a href= "/download/">Download</a>
<a href= "/images/">Images</a>
</body>
</html>