<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Computer Engineering</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <style>
        
     .footer {
        position: absolute;
     right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
     background-color: #1b1b34;
     color: white;
        
       }

       .my-nav {
      position: absolute;
      background: #1b1b34;
      width: 100%;
      z-index: 999;
      border: 0;
      border-radius: 0;
      font-weight: bold;
      font-size: 22px;
    }

    .my-nav .navbar-nav a {
      color: white !important;


    }

    .my-nav .navbar-nav .dropdown-menu a {
      color: black !important;
      }

      .container{
        padding-top: 80px;
      }

    </style>    


  </head>
  <body>
  <!--navbar-->
  <nav class="my-nav navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/log.png" height="35px" width="120px"></a>
            </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Engineering <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Civil Engineering</a></li>
                  <li><a href="/computer">Computer Engineering</a></li>
                  <li><a href="#">Mechanical Engineering</a></li>
                  <li><a href="#">Electrical Engineering</a></li>
                  <li><a href="#">Geomatics Engineering</a></li>
                  <li><a href="#">Chemical Engineering</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Science <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Applied Physics</a></li>
                  <li><a href="#">Biotechnology</a></li>
                  <li><a href="#">Pharmacy</a></li>
                  <!--<li role="separator" class="divider"></li>-->
                  <li><a href="#">Environment Science</a></li>
                   <li><a href="#">Human Biology</a></li>
                  
                </ul>
              </li>
            </ul>
           <!-- <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/upload">Upload</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>
<!--end of nav bar-->
<!--Registration Form-->
 <div class="container">

    <form class="well form-horizontal" action="/register" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Registration Form</b></h2></center></legend><br>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label"> Name</label>  
  <div class="col-xs-2 col-sm-2 col-md-2">
                    <div class="form-group">
                                    
                      <input type="text" name="firstname" id="firstname" class="form-control input-sm" placeholder="First Name">
                    </div>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2">
                    <div class="form-group">
                      <input type="text" name="lastname" id="lastname" class="form-control input-sm" placeholder="Last Name">
                    </div>
                  </div>
</div>

  
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Username</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="username" placeholder="Enter your username" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <input name="password" placeholder="Password" class="form-control"  type="password">
    </div>
  </div>
</div>

<!-- Text input-->

<!-- <div class="form-group">
  <label class="col-md-4 control-label" >Confirm Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <input name="confirm_password" placeholder="Confirm Password" class="form-control"  type="password">
    </div>
  </div>
</div> -->

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>



<!-- Select Basic -->


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
   <button type="submit" class="btn btn-warning" style="background-color: #1b1b34">SUBMIT</button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
    <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript">

   
       $(document).ready(function() {
    $('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please enter your First Name'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please enter your Last Name'
                    }
                }
            },
       user_name: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please enter your Username'
                    }
                }
            },
       user_password: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please enter your Password'
                    }
                }
            },
      confirm_password: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please confirm your Password'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Please enter your Email Address'
                    },
                    emailAddress: {
                        message: 'Please enter a valid Email Address'
                    }
                }
            },
           
                }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});
    </script>

<!--footer starts-->
       <div class="footer">
          <p><br /><strong>© CE III/II 2017<br><br></strong>
            <a href="about" color="white"><span class="glyphicon glyphicon-chevron-right"></span> About us</a>
            <a href="https://www.facebook.com"><span class="glyphicon glyphicon-chevron-right"></span> Contact Us on Facebook</a>
          </p>
        </div>
<!--footer ends-->

</body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KUBot</title>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

  </head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">KUBot</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
				<form class="form-horizontal" method="post" action="/register">
						
						<div class="form-group">
							<label for="username" name="username" id="username" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Name"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" name="password" id="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your pasword"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>
						<div class="login-register">
				            <a href="login">Login</a>
				         </div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	</body>
</html> -->